@model IEnumerable<NTNBaiTapLon801.Models.BanAn>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrangthaiBanAn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanhsachBanAn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrangthaiBanAn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhsachBanAn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BanAnID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BanAnID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BanAnID })
        </td>
    </tr>
}

</table>
